html{
scroll-behavior:smooth;
}

.navbar{

position:fixed;
top:18px;
left:50%;
transform:translateX(-50%);
width:92%;
max-width:1250px;

background:rgba(8,8,8,.65);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

border-radius:18px;

z-index:1000;

box-shadow:0 10px 40px rgba(0,0,0,.45);

}

.container{

height:74px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 35px;

}

.logo{

font-size:2rem;

font-weight:700;

text-decoration:none;

}

.white{

color:#fff;

}

.yellow{

color:#facc15;

}

.nav-links{

display:flex;

gap:40px;

list-style:none;

}

.nav-links a{

color:#fff;

text-decoration:none;

font-weight:600;

font-size:15px;

position:relative;

transition:.3s;

}

.nav-links a:hover{

color:#facc15;

}

.nav-links a::after{

content:'';

position:absolute;

left:0;

bottom:-8px;

height:3px;

width:0;

background:#facc15;

border-radius:50px;

transition:.35s;

}

.nav-links a:hover::after,

.nav-links a.active::after{

width:100%;

}

.nav-links a.active{

color:#facc15;

}

.hamburger{

display:none;

width:34px;

cursor:pointer;

}

.hamburger span{

display:block;

height:3px;

margin:7px 0;

background:#facc15;

border-radius:10px;

transition:.35s;

}

.hamburger.active span:nth-child(1){

transform:rotate(45deg) translate(7px,7px);

}

.hamburger.active span:nth-child(2){

opacity:0;

}

.hamburger.active span:nth-child(3){

transform:rotate(-45deg) translate(7px,-7px);

}

.mobile-menu{

max-height:0;

overflow:hidden;

transition:.4s;

display:flex;

flex-direction:column;

}

.mobile-menu.open{

max-height:420px;

padding-bottom:20px;

}

.mobile-menu a{

padding:18px 35px;

color:white;

text-decoration:none;

font-weight:600;

border-top:1px solid rgba(255,255,255,.05);

transition:.3s;

}

.mobile-menu a:hover{

background:#111;

color:#facc15;

padding-left:45px;

}

@media(max-width:992px){

.nav-links{

display:none;

}

.hamburger{

display:block;

}

.container{

padding:0 25px;

}

.logo{

font-size:1.7rem;

}

}

@media(max-width:480px){

.logo{

font-size:1.45rem;

}

.navbar{

width:95%;

top:10px;

}

.container{

height:66px;

padding:0 20px;

}

.mobile-menu a{

font-size:15px;

}

}